

#form {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
}

#message {
    height: 250px;
}

section {
    height: 100vh; 
}

.fa-brands {
    font-size: 40px;
    color: black;
    float: left;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;;
}

.brand-links {
    position: relative; 
    width: 130px; 
    margin-left: auto; 
    margin-right: auto; 
}

.container {
    border: 2px;
    border-color: black;
    background-image: linear-gradient(var(--text-ash-gray), white);
    border-radius: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 40vw; 
    margin: 0 auto;
}


.formInput {
    width: 30vw;
}


.messageText {
    height: 300px;
}

