

#form {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
}

#message {
    height: 250px;
}

.container {
    border: 2px;
    border-color: black;
    background-image: linear-gradient(var(--bg-cerulian-blue), white);
    border-radius: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 400px; 
    margin: 0 auto;
}


.formInput {
    width: 310px;
}


.messageText {
    height: 200px;
}