.grid-portfolio {
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: 20% 40% 30% 20%;
    grid-template-rows: 40% 30% 100% 100%;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20%;

    /* 100vw is always the wifth of the viewport  
       100% is the width of the current container */
}

/* Varför fungerar inte detta nu då? */
.box1 {
    background-color: aqua;
}

.box2 {
    background-color: burlywood;
}

.box3 {
    background-color: chartreuse;
}

.box4 {
    background-color: darkorange;
}

.box5 {
    background-color: indianred;
}

.box6 {
    background-color: gold;
}

.box7 {
    background-color: goldenrod;
}

.box8 {
    background-color: gold;
}

.box9 {
    background-color: goldenrod;
}

.box10 {
    background-color: gold;
}

.box11 {
    background-color: goldenrod;
}

.box12 {
    background-color: goldenrod;
}