/* För godkänt (G) på projektarbetet skall följande krav uppfyllas:

KLART: 

G:
• Ni lämnar in en hemsida programmerad i HTML, CSS och JavaScript.
• Ni skall ha en Header, Main, Aside, Footer som ligger i olika divs.
• Ni använder er av en Grid-struktur för att strukturera eran hemsida.
• I CSS använder ni er av Margin, Padding och Border.
• Ni använder er av tag, klass och id för olika stilar.
• Det finns klasser i JavaScript och ni skapar objekt utifrån dem som
används till någonting.
• Ni använder er av addEventListener för att lägga till funktionalitet.
• Via av någon av de många olika sätten (url search params,
sessionStorage, localStorage, cookies) skickar ni information från en
sida till en annan och sedan använder den.


VG: 
• Ni använder er av Media Queries för att göra sidan mer passande för
en mindre skärm när tillgängliga bredden krymper. Eller tvärt om, att ni
använder Media Queries för att justera för en bredare skärm om ni kör
mobile-first.

-- C H E C K P O I N T --

ATT GÖRA:

För väl godkänt (VG) på projektarbetet skall dessutom följande krav uppfyllas:

• Ni har objekt som läggs in dynamiskt så att de blir synliga på hemsidan
utifrån en lista i JavaScript. Finns två visas de två upp. Finns fyra visas fyra upp. Etc.
• Varje dynamiskt skapad rad har implementation som gör att om man
interagerar med den raden (trycker på en knapp på den raden, etc) så
händer någonting till det objekt associerat med den raden. Den tas
bort ur listan, den sparas som information att skicka vidare, etc */

/* || Color Scheme */

:root 
{
    --bg-black-resin: #202030;
    --bg-english-violet: #39304A;
    --bg-cerulian-blue: #40798C;
    --text-green-verdigris: #70A9A1;
    --text-ash-gray: #CFD7C7;
}


/* || Banner */
body {
    background-image: linear-gradient( black, var(--bg-cerulian-blue));
    size: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    grid-column: auto;
    grid-row: auto;
}

#banner
{
    margin-top: 10%;
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: -1;
    font-size: 3rem;
    line-height: 1;
    color: var(--text-ash-gray);
}
  
.impact-text
{
    font-size: 20px;
    color: var(--text-ash-gray);
}


#list-div {
    background-color: bisque;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    margin-left: 5%;
    margin-bottom: 20%;
}

#first-image {
    width: 100vw;
}

html {
    scroll-behavior: smooth;
} 
