/* || Color Scheme */

:root 
{
    --bg-black-resin: #202030;
    --bg-english-violet: #39304A;
    --bg-cerulian-blue: #40798C;
    --text-green-verdigris: #70A9A1;
    --text-ash-gray: #CFD7C7;
}


main {
    height: 80vh; 
}



/* || Banner */
body {
    background-image: linear-gradient( black, var(--bg-cerulian-blue));
    size: 100%;
    height: 100vh;
    overflow: hidden; 
    background-repeat: no-repeat;
    grid-column: auto;
    grid-row: auto;
    
}

.honk-text {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "MORF" 15,
      "SHLN" 50;
  }

#banner
{
    margin-top: 10%;
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: -1;
    font-size: 3rem;
    line-height: 1;
    color: var(--text-ash-gray);;
}
  
.impact-text
{
    font-size: 20px;
    color: var(--text-ash-gray);
}


#list-div {
    background-color: bisque;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    margin-left: 5%;
    margin-bottom: 20%;
}

#first-image {
    width: 100vw;
}

html {
    scroll-behavior: smooth;
} 
