:root 
{
    --bg-black-resin: #202030;
    --bg-english-violet: #39304A;
    --bg-cerulian-blue: #40798C;
    --text-green-verdigris: #70A9A1;
    --text-ash-gray: #CFD7C7;
}

body 
{
    margin: 0;
    padding: 0;
    line-height: 1.5; 
    font-size: 16px;
}

.grid-container {
    display: grid;
    grid-template-columns: 270px auto;
    grid-template-rows: 150px auto auto;
}

header
{
    background-color: var(--bg-black-resin);
    grid-column: 1 / 3;
    height: 100%;
}

aside
{
    background-color: var(--bg-english-violet);
    width: 270px;
    align-items: center;
    grid-column: 1;
    grid-row: 2;
}

main
{
    background-color: var(white);
    grid-column: 2;
    grid-row: 2;
    align-items: center;
    min-height: 600px;
}

footer 
{
    background-color: var(--bg-black-resin);
    grid-column: 1 / 3;
    grid-row: 3;
    width: 100%;
    align-items: center;
}


#images {
    float: center;
}

#list-div {
    background-color: bisque;
    width: 200px;
    height: 100px;
    border-radius: 10px;
}