* {
    margin: 0;
    padding: 0;
}


section {
    height: 100vh;
    display: flex; 
    justify-content: center;
    scroll-snap-align: start;
}

.main::-webkit-scrollbar {
    display: none;
}

main {
    scroll-snap-type: y mandatory;
    overflow-y: scroll; 
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 100vh;
}

#one {
    background-image: linear-gradient( black, var(--bg-cerulian-blue));
}

#two {
    background-image: linear-gradient(var(--bg-cerulian-blue), var(--text-ash-gray));
}

#banner {
    margin-top: 30%;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: transparent;
}

h1 {
    font-size: 4rem;
}


h1,
p {
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}