
:root 
{
    --bg-black-resin: #202030;
    --bg-english-violet: #39304A;
    --bg-cerulian-blue: #40798C;
    --text-green-verdigris: #70A9A1;
    --text-ash-gray: #CFD7C7;
}


body {
    background-image: linear-gradient( white, var(--text-ash-gray));
    size: 100%;
    grid-column: auto;
    grid-row: auto;
}