* {
    margin: 0;
    padding: 0;
}


section {
    height: 100vh;
    display: flex; 
    justify-content: center;
    scroll-snap-align: start;
}

main::-webkit-scrollbar {
    display: none;
}

main {
    scroll-snap-type: y mandatory;
    overflow-y: scroll; 
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 100vh;
    grid-column: 1 / 5;
}

#one {
    background-image: linear-gradient( black, var(--bg-cerulian-blue));
}

#two {
    background-image: linear-gradient(var(--bg-cerulian-blue), var(--text-ash-gray));
}

header {
    background-color: transparent;
}

#banner {
    margin-top: 30%;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
}

h1 {
    font-size: 4rem;
}


h1,
p {
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}

#back-link {
    font-size: 15px;
    color: white;
    float: left;
    text-align: center;
    margin-top: 10px;
    padding-top: 60px;
    padding-left: 50px; 
    font-family: "Honk", system-ui;
}

.fa-arrow-left {
    font-size: 20px;
    color: white;
    float: left;
    text-align: center;
    padding-right: 10px;
    padding-top: 2px;
}


/* IMAGE -CAUROSEL */


.wrapper {
    display: flex; 
    box-sizing: border-box;
    height: 80vh;
    width: auto; 
    display: grid; 
    grid-template-rows: 1fr, 5fr;
    grid-gap: 10px; 
    margin-top: 150px;
    margin-left: 10vw; 
    margin-right: 10vw;
}

#gallery {
    grid-row: 1;
    overflow: hidden; 
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    grid-gap: 10px; 
    object-fit:contain;
}

@media screen and (min-width: 800px) { /* replace 800px with the value you want */
    #gallery {
        grid-template-rows: 1fr 5fr;
        grid-template-columns: auto; 
    }
}

#lil-nav::-webkit-scrollbar {
    display: none;
}

#lil-nav {
    grid-row: 2;
    overflow-y: scroll; 
    overflow-x: hidden;
    height: 200px; 
    object-fit: cover; 
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#lil-nav a {
    width: 250px;
    display: inline-flex; 
    margin: 10px; 
    flex-direction: column;
}

.gallery-image {
    scroll-snap-align: start; 
    margin-bottom: 10px;
    object-fit: contain;
    margin-left: 10px;
}

.lil-nav-image {
    object-fit: cover; 
    filter: saturate(0);
    transition: 0.3s ease all;
}

.lil-nav-image:hover {
    transform: scale(1.05);
    filter: saturate(1);
}