/* || Color Scheme */

:root 
{
    --bg-black-resin: #202030;
    --bg-english-violet: #39304A;
    --bg-cerulian-blue: #40798C;
    --text-green-verdigris: #70A9A1;
    --text-ash-gray: #CFD7C7;
}

/* || GENERAL STYLES */
@font-face {
    /* 
    font-family: ;
    src: ;
   */
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5; 
    font-size: 16px;
  }

  p,
  h1,
  h2,
  h3,
  h4 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  ul {
    list-style-type: circle;
  }

  a {
    color: var(--bg-black-resin);
    font-weight: bold;
    text-decoration: none;
  }

  a:hover {
    color: var(--bg-cerulian-blue)
  }


  /* || Header */

header
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-black-resin);
    width: 100%;
    height: 75px;
    z-index: 1;
}

header .top-nav {
    margin-top: 10px; 
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: space-between;
}

#nav {
    width: 100px;
    float: left;
    color: white;
    text-align: center;
    padding-top: 20px;
    border: 3px solid white;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 15% 70% 10%;
    grid-template-rows: auto auto;
}

/* || Aside */

aside
{
    align-items: center;
    grid-column: 1;
    grid-row: 1;
    padding-top: 75px;
}

.aside-left {
    background-image: linear-gradient( var(--bg-english-violet), var(--bg-cerulian-blue));
}

.navigation {
    padding: 10%;
    border: #70A9A1;
    border-radius: 15%;
    margin: 10%;
    margin-top: 20%;
    background-color: var(--text-ash-gray);
}

.nav-list {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.aside-right {
    background-color: white;
    align-items: right;
    grid-column: 3;
    grid-row: 1;
    padding-top: 75px;
}

/* || Main Content */

main
{
    grid-column: 2;
    grid-row: 1;
    min-height: 50vw;
    margin-top: 75px;
    align-items: right;
}

.header1 {
    padding: .55rem 0;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    letter-spacing: 2px;
    text-align: center;
}

.grid-portfolio {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

/* || Footer */

footer 
{
    background-color: var(--bg-black-resin);
    grid-column: 1 / 5;
    grid-row: 2;
    width: 100%;
    height: auto;
    align-items: center;
    color:rgb(155, 155, 155);
    line-height:0%;
    list-style: circle;
}


.banner {
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    clip-path: circle(50% at 50% 50%);
    float: left;
}

