
:root 
{
    --bg-black-resin: #202030;
    --bg-english-violet: #39304A;
    --bg-cerulian-blue: #40798C;
    --text-green-verdigris: #70A9A1;
    --text-ash-gray: #CFD7C7;
}

section {
    height: 100vh;
}

.header1 {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

.stack-icon {
    width: 70px; 
    height: 70px;
    margin-left: 10px; 
    margin-top: 30px; 
    position: relative; 
    transition: top 3s, left 3s;
}

button {
    background-color: var(--text-ash-gray); 
}

